.form-div{
    display: flex;
    margin: 0 auto;
    padding: 30px;
    gap: 6px;
}

.inv-table{
padding: 20px;
}

.no-items{
    font-size: larger;
    color: rgb(92, 92, 92);
    text-align: center;
}

.actions{
    display: flex;
    gap: 6px;
}